**Discipline Level** - Data cleaning

In [ ]:
# group the records by discipline sort in descending order
df_scopus_main.groupby('Discipline').size().sort_values(ascending=False)

Discipline
MED 1              19736
ENGI               18645
AGRI               13694
ENV                 8617
MED 2               7806
SOCI                6267
BIOC                4633
COMPSCI             4607
ARTS                4587
BUSI                4406
MULT                4312
Earth & Plenary     3559
ENERGY              2966
PHAR                2832
PHY & AST           2811
ECON                2351
MATH                1945
CENG                1671
MAT SCI             1359
IMMU                1187
PSYC                 856
VETE                 710
CHEM                 626
NURS                 624
NEUR                 429
DENT                 395
HEALTH               316
DECI                  80
undefined              4
dtype: int64

In [ ]:
# Create a dictionary to map abbreviated discipline names to full names
discipline_mapping = {
    'MED 1': 'Medicine',
    'MED 2': 'Medicine',
    'SOCI': 'Social Sciences',
    'ENGI': 'Engineering',
    'AGRI': 'Agricultural and Biological Sciences',
    'ENV': 'Environmental Science',
    'BIOC': 'Biochemistry, Genetics and Molecular Biology',
    'COMPSCI': 'Computer Science',
    'CENG': 'Energy',
    'ENERGY': 'Chemistry',
    'Earth & Plenary': 'Materials Science',
    'PHY & AST': 'Earth and Planetary Sciences',
    'PHAR': 'Pharmacology, Toxicology and Pharmaceutics',
    'BUSI': 'Physics and Astronomy',
    'ECON': 'Business, Management and Accounting',
    'MATH': 'Economics, Econometrics and Finance',
    'ARTS': 'Mathematics',
    'CHEM': 'Arts and Humanities',
    'IMMU': 'Immunology and Microbiology',
    'MULT': 'Multidisciplinary',
    'DECI': 'Decision Sciences',
    'VETE': 'Veterinary',
    'NURS': 'Nursing',
    'PSYC': 'Psychology',
    'HEALTH': 'Health Professions',
    'NEUR': 'Neuroscience',
    'DENT': 'Dentistry',
    'undefined': 'Undefined'
}

# Use the map function to replace the values in the 'Discipline' column
df_scopus_main['Discipline'] = df_scopus_main['Discipline'].map(discipline_mapping)

In [ ]:
df_scopus_main.Discipline.nunique()

27

In [ ]:
# group the records by discipline sort in descending order
df_scopus_main.groupby('Discipline').size().sort_values(ascending=False)

Discipline
Medicine                                        27542
Engineering                                     18645
Agricultural and Biological Sciences            13694
Environmental Science                            8617
Social Sciences                                  6267
Biochemistry, Genetics and Molecular Biology     4633
Computer Science                                 4607
Mathematics                                      4587
Physics and Astronomy                            4406
Multidisciplinary                                4312
Materials Science                                3559
Chemistry                                        2966
Pharmacology, Toxicology and Pharmaceutics       2832
Earth and Planetary Sciences                     2811
Business, Management and Accounting              2351
Economics, Econometrics and Finance              1945
Energy                                           1671
Immunology and Microbiology                      1187
Psychology                                        856
Veterinary                                        710
Arts and Humanities                               626
Nursing                                           624
Neuroscience                                      429
Dentistry                                         395
Health Professions                                316
Decision Sciences                                  80
Undefined                                           4
dtype: int64

**OECD Classification using the Fancti Manual**

| Scopus Subject Area | OECD Class |
|---|---|
| Medicine | Medical and health sciences |
| Social Sciences | Social sciences |
| Engineering | Engineering and technology |
| Agricultural and Biological Sciences | Agricultural and veterinary sciences |
| Environmental Science | Natural sciences |
| Biochemistry, Genetics and Molecular Biology | Medical and health sciences |
| Computer Science | Natural sciences |
| Energy | Engineering and technology |
| Chemistry | Natural sciences |
| Materials Science | Engineering and technology |
| Earth and Planetary Sciences | Natural sciences |
| Pharmacology, Toxicology and Pharmaceutics | Medical and health sciences |
| Physics and Astronomy | Natural sciences |
| Business, Management and Accounting | Social sciences |
| Economics, Econometrics and Finance | Social sciences |
| Mathematics | Natural sciences |
| Arts and Humanities | Humanities and the arts |
| Chemical Engineering | Engineering and technology |
| Immunology and Microbiology | Medical and health sciences |
| Multidisciplinary | Multidisciplinary |
| Decision Sciences | Social sciences |
| Veterinary | Agricultural and veterinary sciences |
| Nursing | Medical and health sciences |
| Psychology | Social sciences |
| Health Professions | Medical and health sciences |
| Neuroscience | Medical and health sciences |
| Dentistry | Medical and health sciences |
| Undefined | Undefined |

In [ ]:
# Create a dictionary to map Scopus Subject Area to OECD Class
oecd_mapping = {
    'Medicine': 'Medical and health sciences',
    'Social Sciences': 'Social sciences',
    'Engineering': 'Engineering and technology',
    'Agricultural and Biological Sciences': 'Agricultural and veterinary sciences',
    'Environmental Science': 'Natural sciences',
    'Biochemistry, Genetics and Molecular Biology': 'Medical and health sciences',
    'Computer Science': 'Natural sciences',
    'Energy': 'Engineering and technology',
    'Chemistry': 'Natural sciences',
    'Materials Science': 'Engineering and technology',
    'Earth and Planetary Sciences': 'Natural sciences',
    'Pharmacology, Toxicology and Pharmaceutics': 'Medical and health sciences',
    'Physics and Astronomy': 'Natural sciences',
    'Business, Management and Accounting': 'Social sciences',
    'Economics, Econometrics and Finance': 'Social sciences',
    'Mathematics': 'Natural sciences',
    'Arts and Humanities': 'Humanities and the arts',
    'Chemical Engineering': 'Engineering and technology',
    'Immunology and Microbiology': 'Medical and health sciences',
    'Multidisciplinary': 'Multidisciplinary',
    'Decision Sciences': 'Social sciences',
    'Veterinary': 'Agricultural and veterinary sciences',
    'Nursing': 'Medical and health sciences',
    'Psychology': 'Social sciences',
    'Health Professions': 'Medical and health sciences',
    'Neuroscience': 'Medical and health sciences',
    'Dentistry': 'Medical and health sciences',
    'Undefined': 'Undefined',
}

# Create a new column 'OECD Class' and map the values
df_scopus_main['OECD Class'] = df_scopus_main['Discipline'].map(oecd_mapping)

# group by oecd
df_scopus_main.groupby('OECD Class').size().sort_values(ascending=False)

OECD Class
Medical and health sciences             37958
Natural sciences                        27994
Engineering and technology              23875
Agricultural and veterinary sciences    14404
Social sciences                         11499
Multidisciplinary                        4312
Humanities and the arts                   626
Undefined                                   4
dtype: int64

In [ ]:
df_scopus_main.info()

<class 'pandas.core.frame.DataFrame'>
Index: 122893 entries, 0 to 122897
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EID                        122893 non-null  object
 1   Authors with affiliations  122893 non-null  object
 2   Year                       122893 non-null  int64
 3   DOI                        110074 non-null  object
 4   Document Type              122893 non-null  object
 5   Open Access                58743 non-null   object
 6   Discipline                 120672 non-null  object
 7   Countries involved         122893 non-null  object
 8   Region                     122893 non-null  object
 9   Collaboration Type         122893 non-null  object
 10  Institutions involved      122893 non-null  object
 11  OECD Class                 120672 non-null  object
dtypes: int64(1), object(11)
memory usage: 16.2+ MB

In [ ]:
# group the data by unique EIDs
df_scopus_main = df_scopus_main.groupby('EID').first().reset_index()
df_scopus_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122893 entries, 0 to 122892
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   EID                        122893 non-null  object
 1   Authors with affiliations  122893 non-null  object
 2   Year                       122893 non-null  int64
 3   DOI                        110074 non-null  object
 4   Document Type              122893 non-null  object
 5   Open Access                58743 non-null   object
 6   Discipline                 120672 non-null  object
 7   Countries involved         122893 non-null  object
 8   Region                     122893 non-null  object
 9   Collaboration Type         122893 non-null  object
 10  Institutions involved      122893 non-null  object
 11  OECD Class                 120672 non-null  object
dtypes: int64(1), object(11)
memory usage: 11.3+ MB

In [ ]:
# save a copy of the data - This will be used for all the analysis
df_scopus_main.to_csv('/content/drive/MyDrive/Colab Notebooks/Scopus Downloads/scopus_2014 - 23_analyse.csv', index=False)